    /* ---------------------------------------CreateShortLink------------------------------------ */
    body {
        margin: 0;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
        position: relative;
    }
    :where(.css-dev-only-do-not-override-1v613y0).ant-layout{
        background: white;
    }    

    /* ---------------------------------start header--------------------------------- */
    .header {
        background-color: #0747A6;
        color: #ffffff;
        border-bottom: 2px solid #0747A6;
        justify-content: center;


    }
    .header-content {
        align-items: center;
        margin: 0 auto;
    }

    .header-content span {
        font-weight: bold;
    }

    .logo {
        height: 35px;
        width: auto;
        padding-right: 20px;
        filter: brightness(0) invert(1);
    }
    .ant-layout-header{
        height: 50px;
        line-height: 50px;
    }
    /* ----------------------------------------end header----------------------------------- */

    /* ---------------------------------------start body------------------------------------- */

    /* start List Link */
    .LSL_main-container{
        margin: 0 auto;
        padding: 20px;
        min-height: 86vh;
    }
    .LSL_search-bar {
        margin-bottom: 20px;
        display: flex;
        gap: 10px;
        width: 100%;
    }
    .LSL_search-bar Button {
        background-color: #0747A6;
        width: 100px;
        font-weight:500 ;
    }
    .LSL_search-bar-domain {
        width: 150px;
    }
    .LSL_search-bar-status {
        width: 150px;
    }
    .LSL_search-bar-user{
        width: 150px;
    }
    .LSL_search-bar-input{
        width: 450px;
    }
    .LSL_search-bar-Create{
        background: #26B99A !important;
    }
    .LSL_search-bar-Create:hover{
        background: #fff !important; 
        color: #0747A6 !important;
        border: 1px solid #0747A6 !important;
    }
    .LSL_search-bar-Search:hover{
        background: #fff !important; 
        color: #0747A6 !important;
        border: 1px solid #0747A6 !important;
    }

    .LSL_search-bar-Excel{
        background-color: white !important;
        color: #0747A6;
        border: 1px solid #0747A6;
        font-weight:500 ;
        width: 100px;
    }
    .LSL_search-bar-Excel:hover{
        background: #0747A6 !important; 
        color: #fff !important;
        border: none;
    
    }
    .LSL_shortlink-table {
        margin-top: 20px;
        background-color: #ffffff;
    }
    
    .LSL_shortlink-table .ant-table-thead > tr > th {
        background-color:#0747A6;
        color: #ffffff;
        font-weight: bold;
    }
    
    .LSL_shortlink-table .ant-table-tbody > tr > td {
        border-bottom: 1px solid #e8e8e8;
    }
    .ant-table-wrapper .ant-table-cell,
    .ant-table-wrapper .ant-table-thead > tr > th,
    .ant-table-wrapper .ant-table-tbody > tr > th,
    .ant-table-wrapper .ant-table-tbody > tr > td,
    .ant-table-wrapper tfoot > tr > th,
    .ant-table-wrapper tfoot > tr > td {
        padding: 10px 5px;
    }
    
    .ant-table-wrapper .ant-table-thead > tr > th,
    .ant-table-wrapper .ant-table-thead > tr > td {
        text-align: center;
    }
    
    .ant-table-wrapper .ant-table-pagination.ant-pagination {
        margin: 16px 0;
    }
    
    .ant-btn {
        gap: 0 !important;
    }
    .action-column{
        text-align: center;
    }
    .STT-column{
        text-align: center;
    }
    .row-highlight {
        background-color: #d5f0fd !important; 
      }
      .cell-highlight {
        background-color: #d5f0fd !important;
      }
      .ant-table-row:hover > .cell-highlight {
        background-color: #FAFAFA !important; 
        
      }
  
    /* end List Link */

    /* start Create Link */
    .CSL_main-container {
        width: 100%;
        padding: 10px;
        text-align: center;
        position: relative;
        border-radius: 10px;
    }

    .CSL_main-container h3 {
        font-size: 20px;
        padding-bottom: 20px;
        border-bottom: 2px solid #E1E1E1;
    }
    .shortlink-form_Original{
        display: flex;
    }
    .checkOs{
        text-align: left;
    }
    .shortlink-form_Original button{
        border: none;
    }

    .CSL_custom-link {
        font-weight: bold;
    }
    .CSL_custom-time {

        text-align: left;
    }
    .datePicker{
        width: 100%;
    }
    .CSL_form-result label {
        color: #0747A6 !important;
        border-bottom: 2px solid #ddd;
        width: 100%;
        font-weight: bold;
        font-size: 18px !important;
    }

    .CSL_result {
        margin-top: 20px;
    }
    .CSL_short-url{
        margin-bottom: 15px; 
        word-break: break-all;
    }
    .CSL_qr-code{
        display: inline-grid;
    }

    .CSL_qr-code img {
        width: 150px;
        height: 150px;
        padding-bottom: 10px;
    }
    .CSL_group-button{
        display: flex;
        justify-content: center;
        gap: 4%
    }
    .CSL_group-button1 {
        width: 48%;
    }
    .CSL_group-button2{
        width: 48%;

    }
    .CSL_button-create {
        width: 100%;
        background-color: #0747A6;
        color: #ffffff;
    }

    .CSL_button-create:hover {
        background-color: #ffffff !important;
        color: #0747A6 !important;
        border: 1px solid #0747A6;
    }

    .CSL_copy-btn { 
        background-color: #E0E0E0;
        color: #000000;
        border: none;
        width: 100%;
        margin-bottom: 10px;
    }
    .CSL_copy-btn:hover{
        background-color: #ffffff !important;
        color: #0747A6 !important;
        border: 1px solid #0747A6 !important;
    }

    .CSL_link-btn {
        background-color: #0747A6;
        color: #ffffff;
        border: none;
        width: 100%;
    }
    .CSL_link-btn:hover{
        background-color: #ffffff !important;
        color: #0747A6 !important;
        border: 1px solid #0747A6 !important;
    }
    .CSL_custom-link-alias{
        width: 70%;
    }
    .CSL_custom-link-domain{
        width: 30%;
        font-weight: 400;
    }
    .CSL_custom-link-alias label{
        font-weight: 400;
    }
    .CSL_custom-link-domain label{
        font-weight: 400;
    }

    .ant-form-item{
        margin-bottom: 10px;
    }
    .status-active {
        padding: 1px 8px;
        border-radius: 6px;
        font-size: 12px;
        color: white;
        font-weight: bold;
        background-color: #0747A6; 
        display: inline-block;
        text-align: center;
        /* min-width: 80px; */
    }
    
    .status-expired {
        padding: 1px 14px;
        font-size: 12px;
        border-radius: 6px;
        font-weight: bold;
        color: white;
        background-color: #F03939;
        display: inline-block;
        text-align: center;
        /* min-width: 80px; */
    }
    /* .row-disabled {
        color: #999 !important;
    } */
    /* .row-disabled a{
        color: #999 !important;
    } */
    .shortlink-disabled {
        color: #999 !important;
        cursor: not-allowed;
      }
    .ant-form-item-label > label.ant-form-item-required::before {
        display: none !important;
    } 
 
    

    /* end Create Link */

    /* Not Found */
    .notFound-container{
        display: flex;
        text-align: center;
        align-items: center;
    }
    .notFound-image img{
    width: 70%;
    }
    .notFound-title p{
        font-size: 32px;
        font-weight: bold;
        
    }
    .ant-table-wrapper .ant-table-thead th.ant-table-column-sort{
        background-color: #0747A6;
    }
   .ant-table-wrapper td.ant-table-column-sort {
        background: #fff;
    }
    .ant-table-wrapper .ant-table-thead th.ant-table-column-has-sorters:hover {
        background-color: #0747A6;
    }
  
      
   
      
   
    /* ----------------------------------end body------------------------------- */

    /* ----------------------------------start footer-------------------------- */
    .footer {
        background-color: #0747A6;
        color: #ffffff;
        padding: 10px 20px;
        border-top: 2px solid #0747A6;
        text-align: center;
    }

    .footer-content {
        max-width: 1200px;
        margin: 0 auto;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .footer-content a {
        color: #ffffff;
        text-decoration: none;
    }

    .footer-content a:hover {
        text-decoration: underline;
    }
    /* ----------------------------------end footer------------------------------- */

    /* ----------------------------------start Login------------------------------ */



    .login-page-container {
        display: flex;
        height: 100vh;
        width: 100vw;
        overflow: hidden;
    }
    
    .login-form-container {
        flex: 0.75 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: #fff;
        padding: 40px;
    }
    
  
    .login-background {
        flex: 1;
        position: relative;
        overflow: hidden;
        background-image: url('../../../public/background_login.jpg');
        background-size: cover; 
        background-position: center;
        background-repeat: no-repeat; 
        background-color: transparent; 
    }
    
    .login-form-container-logo {
        margin-bottom: 20px;
    }
    .login-form-container-logo img{
        width: 150px;
    }

    .login-title {
        font-size: 36px;
        font-weight: 600;
        color: #0959A0;
        margin-bottom: 30px;
    }
    
    .login-form {
        width: 100%;
        max-width: 400px;
    }
    
    .form-label {
        font-size: 16px;
        color: #0959A0;
        margin-bottom: 5px;
    }
    
    .ant-input-affix-wrapper,
    .ant-input-password {
        height: 40px;
        border-radius: 8px;
        margin-bottom: 5px;
        
    }
    
    .ant-checkbox-wrapper {
        margin-bottom: 10px;
    }
    .submit{
        text-align: center;
    }
    
    .submit-button {
        width: 30%;
        border-radius: 6px;
        background-color: #0959A0;
        border: none;
        font-size: 16px;
        justify-content: center;
        align-items: center;
        height: 36px;
    }
    
    .submit-button:hover,
    .submit-button:focus {
        background-color: #053b8c;
    }

    .login-background::before {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center;
        opacity: 0.8;
    }

    /* ----------------------------------End Login------------------------------ */
    @media screen and (max-width: 768px) {
        .login-form-container {
            flex: 1;
        }
        .login-background{
            flex: 0;
        }
        .login-title {
            font-size: 28px;
        }
    }
   
    @media screen and (max-width: 480px) {
        .ant-form-item{
            margin-bottom: 0;
        }
        .checkbox{
            margin-left: -70px;
        margin-top: 10px;
        }
        .ant-form-item .ant-form-item-label{
            padding: 0;
        }

        .notFound-container{
            display: unset;
        }
        .ant-layout-header{
            padding: 0 10px;
        }
        .header-content span{
            font-size: 10px;
        }
        .logo{
            height: 30px;
        }
        .notFound-title p{
            font-size: 26px;
        }
        .notFound-image{
            margin-top: 185px;
        }
        .notFound-title{
            margin-top: 50px;
            margin-bottom: 239px;
        }
        .footer-content{
            font-size: 10px;
        }
      

    }

